@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}
            /* nav section styles starts here... */
.nav-container{
    height: 130px;
    padding: 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-title{
    color: #0B0223;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;
}
.pink{
    color: #FF42A5;
}
.menus{
    height: 80px;
    display: flex;
    align-items: center;
    list-style: none;
}
.menus, .list{
    margin-right: 32px;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
.list-box{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 18px 15px 15px;
}
.fa-youtube{
    padding-left: 20px;
    color: #F61C0D;
    cursor: pointer;
}
.fa-tiktok{
    padding-left: 12px;
    cursor: pointer;
}
.fa-youtube:hover{
    font-size: 1.2rem;
}
.fa-tiktok:hover{
    font-size: 1.2rem;
}
.nav-box{
    width: 262px;
}
            /* nav section styles end... */


            /* banner section styles start here... */
.banner-container{
    background-image: url('../images/group\ 14.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-text{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5px;
}
.banner-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
}
.banner-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 18px;
    padding-left: 5px;
}
.btn-sign-in{
    margin-top: 8px;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-go-rogue{
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-sign-in:hover{
    border: 1px solid #F948B2;
    background:#FFF;
    color: #FF42A5;
}
.btn-go-rogue:hover{
    border: 1px solid #4EC5F7;
    background:#FFF;
    color: #4EC5F7;
}
.banner-image-section{
    margin-top: 15px;
}

                /*  banner section styles end...  */


                /* team section styles */

.team-container{
    padding: 0 240px;
    display: flex;
    gap: 52px;
    margin-bottom: 120px;
}
.team-text{
    margin-top: 80px;
    display: flex;
    text-align: end;
}

.team-text-title{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 24px;
}
.team-text-description{
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 32px;
    line-height: 24px;
}
.team-btn{
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    margin-bottom: 24px;
    cursor: pointer;
}
.team-btn:hover{
    border: 1px solid #F948B2;
    background:#FFF;
    color: #FF42A5;
}
.team-quote{
    color: #534C64;
    font-size: 1.9rem;
    font-weight: 700;
}

                /* team section styles end */


                /* online section styles.... */

 .online-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}           
.black-shade{
    color: #0B0223;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}
.online-title{
    text-align: center;
}
.blue-shade{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 16px;
}
.online-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}
.game-boxs{
    display: grid;
    grid-template-columns: repeat(4, 340px);
    justify-content: center;
    gap: 24px; 
    margin-bottom: 120px;
}
.hover-title{
    color: #F948B2;
    margin-top: 10px;
}
.box-item{
    position: relative;
}
.play-btn{
    width: 30px;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    border-radius: 26px;
}
.content:hover{
    opacity: 1;
}
.game-boxs img{
    cursor: pointer;
}
.game-boxs img:hover{
    border: 4px solid #F948B2;
    border-radius: 23px;
}
.box-description{
    padding-top: 24px;
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
}

                    /* online section styles end */


                /* anniversery section styles here.. */
.anniversery-container{
    padding: 0 240px 0 430px;
    display: flex;
    align-items: center;
    gap: 240px;
}
.title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 24px;
}
.light-shade{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description{
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
}
.overflow-img{
    display: flex;
    justify-content: center;
    margin: -280px 0 0 200px;
    border-radius: 8px;
    border: 10px solid #FFF;
}

                /* anniversery section styles end... */


                /* careers section styles  */
.career-container{
    height: 75vh;
    padding: 120px 0 0 240px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-title{
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 24px;
}
.career-description{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}
.career-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    justify-items: end;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 40PX;
}
.city{
    text-align: end;
}
.career-btn{
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF42A5;
    cursor: pointer;
}
.career-btn:hover{
    background:#1b9945;
    color: #FFF;
}
                    /* game section styles here.. */
.games-container{
    margin: 120px 0;
    display: grid;
    grid-template-columns: repeat(5, 280px);
    row-gap: 30px;
    padding-left: 240px;
}
.one{
    margin-left: 110px;
    width: 290px;
}
.games-box{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.games-box:hover{
    border: 2px solid #F948B2;
    border-radius: 50px;
    background: #FFF;
}
.game-title{
    color: #0B0223;
    font-size: 1.3rem;
    font-weight: 600;
}
                /* game section styles.. */


                /* footer section styles... */
.footer-container{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    background: #0B0223;
}
.footer-text-section{
}
.footer-title-text{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 56px;
}
.footer-title{
    text-align: center;
    font-weight: 700;
    color: #FFF;
    font-size: 2.8rem;
}
.footer-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style: none;
    gap: 60px;
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 56px;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #FFF;
    margin-left: 80px;
    padding-bottom: 64px;
}
.social-icons{
    font-size: 40px;
}
.fa-square-twitter{
    cursor: pointer;
}
.fa-square-twitter:hover{
    color: skyblue;
}
.fa-facebook{
    cursor: pointer;
}
.fa-facebook:hover{
    color: rgb(5, 125, 238);
}
.fa-square-youtube{
    cursor: pointer;
}
.fa-square-youtube:hover{
    color: #F61C0D;
}
.fa-linkedin{
    cursor: pointer;
}
.fa-linkedin:hover{
    color: skyblue;
}
.fa-square-instagram{
    cursor: pointer;
}
.fa-square-instagram:hover{
    color: rgb(155, 48, 56);
}
.fa-apple{
    cursor: pointer;
}
.footer-description{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 25px;
}

/* responsive styles here */

/* small device styles */

@media screen and (max-width:676px) {
    .nav-container{
        flex-direction: column;
        padding: 0;
        justify-content: center;
        height: 320px;
    }
    .nav-text{
        flex-direction: column;
        gap: 0;
    }
    .nav-title{
        padding-bottom: 20px;
    }
    .menus{
        flex-direction: column;
        padding-left: 50px;
    }
    .list{
        padding-bottom: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .top-text{
        font-size: 2.5rem;
    }
    .banner-title{
        font-size: 4.9rem;
    }
    .banner-text{
        padding-left: 5px;
    }
    .btn-go-rogue, .btn-sign-in{
        padding: 18px 40px;
        font-size: 1rem;
    }
    .banner-image-section img{
        width: 100%;
    }
    .team-container{
        flex-direction: column;
        padding: 0;
    }
    .team-image img{
        width: 100%;
    }
    .game-boxs{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        padding-left: 20px;
    }
    .anniversery-container{
        flex-direction: column;
        padding: 0;
        gap: 30px;
    }
    .anniversery-text{
        padding-right: 10px;
    }
    .anniversery-image img{
        width: 80%;
        padding-left: 10px;
    }
    .overflow-img img{
        width: 100%;
        margin-top: 200px;
        margin-right: 20px;
    }
    .career-container{
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .games-container{
        grid-template-columns: repeat(1, 240px);
        gap: 40px;
        justify-content: center;
        padding: 0;
    }
    .one{
        padding: 0;
        margin: 0;
    }
    .career-img img{
        width:100%;
    }
    .career-details{
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        font-size: 1rem;
    }
    .footer-container{
        padding: 0;
    }
    .footer-list{
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
        padding: 2px;
        margin-bottom: 25px;
    }
    .footer-icons{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-description{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}


/* medium device */
@media screen and (min-width:676px) and (max-width:1024px) {
    .nav-container{
        height: 160px;
        flex-direction: column;
    }
    .menus{
        margin-right: 0;
        gap: 30px;
    }
    .list{
        padding: 17px 20px 18px 18px;
    }
    .fa-youtube{
        padding: 7px;
    }
    .fa-tiktok{
        padding: 5px;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-text{
        padding-left: 18px;
    }
    .banner-image-section img{
        width: 100%;
    }
    .team-container{
        flex-direction: column;
        padding: 0;
    }
    .team-text{
        padding-right: 10px;
    }
    .team-image img{
        width: 100%;
    }
    .game-boxs{
        grid-template-columns: repeat(2, 340px);
        align-items: center;
        /* padding: 0px 10px; */
    }
    .anniversery-container{
        flex-direction: column;
        padding: 0;
        gap: 50px;
    }
    .anniversery-text{
        padding-right: 10px;
    }
    .anniversery-image img{
        width: 100%;
        padding-left: 10px;
    }
    .overflow-img img{
        width: 50%;
        margin-left: 250px;
    }
    .career-container{
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    .career-btn{
        margin-left: 130px;
    }
    .games-container{
        grid-template-columns: repeat(3, 200px);
        gap: 40px;
        justify-content: center;
        padding: 0;
        gap: 20px;
        row-gap: 50px;
    }
    .one{
        padding: 0;
        margin: 0;
    }
    .footer-list{
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 2px;
        margin-bottom: 25px;
    }
} 